<h1><?php echo $video->title; ?></h1>
<div class="video-single">
	<iframe width="420" height="315" src="//www.youtube.com/embed/<?php echo $video->youtubeid; ?>" frameborder="0" allowfullscreen></iframe>
	<div class="social-media">
 		<a onclick="window.open('http://www.facebook.com/sharer.php?u=<?php echo $this->url('video', array('id' => $video->videoid, 'url' => $video->url)); ?>','_blank','width=500,height=300');"><img style="border:0;" height="20px" src="http://www.combathub.com/img/social/facebook.png"></a> 
		<a onclick="window.open('http://twitter.com/share?text=<?php echo $video->title; ?>&amp;url=<?php echo $this->url('video', array('id' => $video->videoid, 'url' => $video->url)); ?>&amp;count=horizontal&amp;counturl=<?php echo $this->url('video', array('id' => $video->videoid, 'url' => $video->url)); ?>','_blank','width=500,height=250');"><img height="20px" style="border:0;" src="http://www.combathub.com/img/social/twitter.png"></a>
		<a href="https://plus.google.com/share?url=<?php echo $this->url('video', array('id' => $video->videoid, 'url' => $video->url)); ?>" onclick="javascript:window.open(this.href,
  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><img height="20px"
  src="https://www.gstatic.com/images/icons/gplus-64.png" alt="Share on Google+"/></a>
		<a href="http://pinterest.com/pin/create/button/?url=<?php echo $this->url('video', array('id' => $video->videoid, 'url' => $video->url)); ?>&media=" class="pin-it-button" count-layout="none"><img border="0" height="20px" src="http://www.combathub.com/img/social/pin.png" title="Pin It" /></a>
 		<a href=""><img height="20px" style="border:0;" src="http://www.combathub.com/img/social/email.png"></a>
 		<a onclick="gaPrintPage(document.getElementById('video-<?php echo $video->videoid; ?>'))"><img height="20px" style="border:0;" src="http://www.combathub.com/img/social/print.png"></a>
	</div>
	<p class="description">
		<?php echo $video->description; ?>
	</p>
	<h2>Comments</h2>
	<div class="comments">
	<?php foreach ($comments as $comment): ?>
		<div class="comment">
		<h5><?php echo $comment->title->text; ?></h5>
		<p class="comment">
			<?php echo $comment->content->text; ?>
		</p>
		</div>
	<?php endforeach; ?>
	</div>
</div>
