<?php echo $this->doctype(); ?>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle('CombatHut Admin Area') ?>

        <?php echo $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <!-- Le styles -->
        <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
                        ->prependStylesheet($this->basePath() . '/resources/css/invalid.css')
                        ->prependStylesheet($this->basePath() . '/resources/css/style.css')
                        ->prependStylesheet($this->basePath() . '/resources/css/reset.css'); ?>

	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

		<script>
		$(function() {
			$( "#dateline" ).datepicker();
		});
		</script>

        <!-- Scripts -->
        <?php echo $this->headScript()
            ->prependFile($this->basePath() . '/resources/scripts/simpla.jquery.configuration.js')
            ->prependFile($this->basePath() . '/resources/scripts/facebox.js')
            ->prependFile($this->basePath() . '/resources/scripts/jquery.wysiwyg.js')
        ; ?>

    </head>
<body>
<div id="body-wrapper"> <!-- Wrapper for the radial gradient background -->
		<div id="sidebar"><div id="sidebar-wrapper"> <!-- Sidebar with logo and menu -->
			
			<h1 id="sidebar-title"><a href="#">Control Panel</a></h1>
		  
			<!-- Logo (221px wide) -->
			<a href="#"><img id="logo" src="<?php echo $this->basePath(); ?>/resources/images/logo.png" alt="Simpla Admin logo" /></a>
		  			
			<ul id="main-nav">  <!-- Accordion Menu -->
				<li>
					<a target="_blank" href="<?php echo $this->url('home', array('action' => 'index')); ?>" class="nav-top-item no-submenu">
						Main Site
					</a>       
				</li>
				<li>
					<a href="#" class="nav-top-item<?php if ($area == 'videos') { ?> current<?php } ?>">
						Manage Videos
					</a>
					<ul>
						<li><a<?php if ($link == 'discover') { ?> class="current"<?php } ?> href="<?php echo $this->url('admin', array('action' => 'discover')); ?>">Find Videos</a></li>
						<li><a<?php if ($link == 'managevideos') { ?> class="current"<?php } ?> href="<?php echo $this->url('admin', array('action' => 'managevideos')); ?>">Manage Videos</a></li>
					</ul>
				</li>
				<li>
					<a href="<?php echo $this->url('admin', array('action' => 'listcollections')); ?>" class="nav-top-item no-submenu <?php if ($this->area == 'categories') { ?> current<?php } ?>">
						Manage Collections
					</a>
				</li>
				<li>
					<a href="#" class="nav-top-item<?php if ($area == 'events') { ?> current<?php } ?>">
						Manage Events
					</a>
					<ul>
						<li><a<?php if ($link == 'listevents') { ?> class="current"<?php } ?> href="<?php echo $this->url('admin', array('action' => 'listevents')); ?>">Manage Events</a></li>
						<li><a<?php if ($link == 'manageevent') { ?> class="current"<?php } ?> href="<?php echo $this->url('admin', array('action' => 'manageevent')); ?>">Add Event</a></li>
					</ul>
				</li>
				<li>
					<a href="#" class="nav-top-item<?php if ($area == 'polls') { ?> current<?php } ?>">
						Manage Polls
					</a>
					<ul>
						<li><a<?php if ($link == 'listpolls') { ?> class="current"<?php } ?> href="<?php echo $this->url('admin', array('action' => 'listpolls')); ?>">Manage Polls</a></li>
						<li><a<?php if ($link == 'managepoll') { ?> class="current"<?php } ?> href="<?php echo $this->url('admin', array('action' => 'managepoll')); ?>">Add Poll</a></li>
					</ul>
				</li>
				<li>
					<a href="#" class="nav-top-item<?php if ($area == 'users') { ?> current<?php } ?>">
						Manage Users
					</a>
					<ul>
						<li><a<?php if ($link == 'listusers') { ?> class="current"<?php } ?> href="<?php echo $this->url('admin', array('action' => 'listusers')); ?>">Manage Users</a></li>
						<li><a<?php if ($link == 'manageuser') { ?> class="current"<?php } ?> href="<?php echo $this->url('admin', array('action' => 'manageuser')); ?>">Add User</a></li>
					</ul>
				</li>
			</ul>

		</div></div>
		<div id="main-content"> <!-- Main Content Section with everything -->
			<noscript> <!-- Show a notification if the user has disabled javascript -->
				<div class="notification error png_bg">
					<div>
						Javascript is disabled or is not supported by your browser. Please <a href="http://browsehappy.com/" title="Upgrade to a better browser">upgrade</a> your browser or <a href="http://www.google.com/support/bin/answer.py?answer=23852" title="Enable Javascript in your browser">enable</a> Javascript to navigate the interface properly.
					</div>
				</div>
			</noscript>

			<?php echo $this->content; ?>	
			<div id="footer">
				<small>
						&#169; Copyright 2009 Simpla Admin | Powered by <a href="http://themeforest.net/item/simpla-admin-flexible-user-friendly-admin-skin/46073">Simpla Admin</a> | <a href="#">Top</a>
				</small>
			</div><!-- End #footer -->
			
		</div> <!-- End #main-content -->
</div>
</body>
</html>