<?php
if ($messages)
{
	echo '<ul>';
	foreach ($messages as $message)
	{
		echo '<li>' . $message . '</li>';
	}
	echo '</ul>';
}

$form->setAttribute('action', $this->url('auth'));
$form->prepare();

echo $this->form()->openTag($form);
echo $this->formCollection($form);
echo $this->form()->closeTag();

?>