body
{
	margin: 0;
	padding: 0;
	background-color: #191919;
	color: #fff;
	font-family: Verdana, Geneva, sans-serif;
}
p, h1, h2, h3, h4, h5
{
	margin: 0;
	padding: 0;
}
a:link, a:visited, a:hover
{
	text-decoration: none;
	color: #FFF;
}
.clear
{
	clear: both;
}
.logo
{
	text-align: center;
	height: 162px;
}
section.main-wrapper
{
	background-color: #000 ;
	width: 1000px;
	margin: 0 auto;
}
.three-cols
{
	overflow: hidden;
}
nav
{
	height: 16px;
	font-size: 12px;
	margin-bottom: 5px;
	padding: 7px;
}
.event-bar
{
	height: 16px;
	color: #a1a1a1;
}
.event-bar a:link, .event-bar a:visited
{
	color: #eee;
}
.event-bar a:hover
{
	text-decoration: underline;
}
nav .social-networks
{
	float: right;
}
nav .search-form
{
	display: inline;
	float: right;
}
nav .search
{
	border-radius: 3px;
	border: 0;
	padding: 3px;
}
nav.breadcrumbs a:link,
nav.breadcrumbs a:visited
{
	color: #b3b3b3;	
}
nav.breadcrumbs
{
	background-color: #191919;
}
.columns
{
	width: 25%;
	margin-bottom: -100000px;
	padding-bottom: 100000px;
}
.columns h3
{
	color: #aa0000;
	text-transform: uppercase;
	margin: 5px 8px;
}
.columns > ul
{
	margin: 2px 10px;
}
.columns ul
{
	margin: 2px 15px;
	padding: 0;
	color: #FFF;
	text-transform: uppercase;
	list-style-type: none;
}
.columns ul li
{
	margin: 0;
	padding: 0;
}
.right-col
{
	float: right;
	border-left: 3px solid #191919;
}
.right-col #events-calendar
{
	    white-space: normal;
}
.right-col .poll
{
	margin: 0 8px;
}
#poll-submit-row
{
	text-align: center;
	width: 100%;
}
.right-col .poll .poll-submit
{
	display: block;
	width: 100px;
	margin: 0 auto;
	background-color: #262626;
	font-size: 13px;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	border: 1px solid #aa0000;
	border-radius: 5px;
}
#events-calendar
{
	text-align: center;
}
#events-calendar .calendar
{
	font-size: 12px;
	margin-bottom: 10px;
}
#events-calendar .calendar a:link,
#events-calendar .calendar a:visited
{
	color: #c34c4c;
}
.left-col
{
	float: left;
	border-right: 3px solid #191919;
}
.main-content
{
	padding: 0;
	margin: 0 25%;
}
.main-content a:hover
{
	color: #676767;
}
.main-content p
{
	padding: 0 8px;
}
.main-content h1
{
	padding: 4px 8px;
	font-weight: bold;
	text-align: center;
	font-size: 24px;
}
.main-content .video
{
	margin: 5px 8px;
	min-height: 120px;
}
.main-content .video h2
{
	font-weight: normal;
	font-size: 16px;
	margin: 0 0 4px 0;
	padding: 3px 0;
	text-transform: uppercase;
	border-bottom: 1px solid #c34c4c;
}
.main-content .social-media
{
	float: right;
}
.video-single .social-media
{
	margin: 15px 10px;
	height: 30px;
}
.main-content .video .ratings
{
	text-transform: uppercase;
}
.main-content .video h2 a
{
	color: #c34c4c;
}
.main-content .video h2 a:hover
{
	text-decoration: underline;
	color: #c34c4c;
}

.main-content .video p
{
	margin: 5px;
	font-size: 13px;
}
.main-content .video > img,
.main-content .video > a img
{
	float: left;
	max-width: 20%;
	margin: 8px;
	border: 3px solid #646464;
}
.featured-videos .featured
{
	text-align: center;
}
.featured-videos .featured-caption
{
	background-color: #191919;
	font-size: 11px;
	padding: 5px;
}
.featured-videos .featured-caption .controls
{
	list-style-type: none;
	float: right;
	margin: 0;
	padding: 0;
}
.featured-videos .featured-caption .controls li
{
	margin: 0;
	padding: 0;
	display: inline-block;
	width: 15px;
	height: 15px;
	background-image: url('/img/paginator.gif');
	background-repeat: no-repeat;
}
.featured-videos .featured-caption .controls li.active
{
	background-image: url('/img/paginator-active.gif');
}
.featured-videos .slider
{
	height: 360px;
	position: relative;
}
.featured-videos .slider .featured
{
	display: inline;
	position: absolute;
	top: 0;
	left: 0;
	height: 360px;
	width: 100%;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: opacity 0.3s ease-out;
	-moz-transition:    opacity 0.3s ease-out;
	-o-transition:      opacity 0.3s ease-out;
	transition:         opacity 0.3s ease-out;
}
.featured-videos .slider .active
{
	opacity: 1;
	filter: alpha(opacity=1);
	-webkit-transition: opacity 0.3s ease-out;
	-moz-transition:    opacity 0.3s ease-out;
	-o-transition:      opacity 0.3s ease-out;
	transition:         opacity 0.3s ease-out;
}
.featured-videos .slider .featured h4.featured-title
{
	position: relative;
	top: -40px;
	height: 30px;
}
.homepage-videos
{
	margin: 10px 8px;
}
.homepage-videos h2
{
	font-size: 20px;
}
.video-grid
{
	list-style-type: none;
	margin: 5px 0;
	padding: 0;
}
.video-grid li
{
	float: left;
	width: 25%;
	vertical-align: top;
	text-align: center;
	font-size: 12px;
	margin-bottom: 15px;
}
.video-grid li .grid
{
	margin: 0 5px;
}
.video-grid li img
{
	width: 100%;
	border: 1px solid #646464;
	display: block;
	margin-bottom: 5px;
}
.video-single
{
	text-align: center;
}
.video-single .description
{
	text-align: left;
	font-size: 12px;
}
.video-single .comments
{
	text-align: left;
	font-size: 12px;
	padding: 0 8px;
}
.video-single .comments div.comment
{
	border-bottom: 1px solid #575757;
	padding: 0 0 15px 0;
	margin: 0 0 15px 0;
}
.video-single .comments h5
{
	font-size: 12px;
	padding: 0;
	margin: 0;
}
.video-single .comments p.comment
{
	margin: 0;
	padding: 0;
}
#mychart {
	margin: 5px;
	width: 100%;
	height: 200px;
}
.description
{
	margin: 10px 0;
}
.footer
{
	width: 1000px;
	margin: 0 auto;
	padding: 5px 0;
	text-align: center;
	height: 30px;
}