			<!-- Page Head -->
			<h2>Find Videos</h2>
			<div class="content-box"><!-- Start Content Box -->
				
				<div class="content-box-header">
					
					<h3>Search</h3>
										
				</div> <!-- End .content-box-header -->
				<div class="content-box-content">
						<form action="" method="get">
							
							<fieldset> <!-- Set class to "column-left" or "column-right" on fieldsets to divide the form into columns -->
								<p>
									<label>Search Query</label>
									<input class="text-input large-input" value="<?php echo $query; ?>" type="text" id="large-input" name="search" />
								</p>
								<p>
									<input class="button" type="submit" value="Submit" />
								</p>
							</fieldset>
						</form>
				</div>
			</div>
<?php if (is_array($videos)): ?>
	<form id="videos_form" action="<?php echo $this->url('admin', array('action' => 'importvideos')); ?>" method="post">
			<div class="content-box"><!-- Start Content Box -->
				
				<div class="content-box-header">
					
					<h3>Videos</h3>
										
				</div> <!-- End .content-box-header -->
				
				<div class="content-box-content">
			   
					<div class="tab-content default-tab" id="tab1"> <!-- This is the target div. id must match the href of this div's tab -->
						<table>
							
							<thead>
								<tr>
								   <th width="90px"><label for="checkall"><input class="check-all" type="checkbox" id="checkall" /> Select All</label</th>
								   <th>Thumbnail</th>
								   <th>Title</th>
								   <!-- <th>Tags</th> -->
								   <th>Description</th>
								</tr>
								
							</thead>
						 
							<tfoot>
								<tr>
									<td colspan="6">
										<div class="bulk-actions align-left">
											Collection: 
											<select name="collection">
												<?php foreach ($collections as $collection): ?>
													<option value="<?php echo $collection->collectionid; ?>"><?php echo str_repeat(' -- ', $collection->depth) . $collection->title; ?></option>
												<?php endforeach; ?>
											</select>
											<a class="button" href="#" onclick="document.getElementById('videos_form').submit();">Import Videos</a>
										</div>
										
										<div class="pagination">
											<a href="<?php echo $this->url('admin', array('action' => 'discover')); ?>?search=<?php echo urlencode($query); ?>&amp;page=1" title="First Page">&laquo; First</a>
											<a href="<?php echo $this->url('admin', array('action' => 'discover')); ?>?search=<?php echo urlencode($query); ?>&amp;page=<?php echo $page-1; ?>" title="Previous Page">&laquo; Previous</a>
											<a href="<?php echo $this->url('admin', array('action' => 'discover')); ?>?search=<?php echo urlencode($query); ?>&amp;page=<?php echo $page+1; ?>" title="Next Page">Next &raquo;</a>
										</div> <!-- End .pagination -->
										<div class="clear"></div>
									</td>
								</tr>
							</tfoot>
							<tbody>
							 	
							 	<?php foreach ($videos as $video): ?>
								<tr>
									<td>
										<input type="hidden" name="data[<?php echo $video->getVideoId(); ?>]" value="<?php $thumbs = $video->getVideoThumbnails(); echo htmlspecialchars(serialize(array('title' => $video->getVideoTitle(), 'description' => $video->getVideoDescription(), 'preview' => $thumbs[0]['url']))); ?>" />
										<input type="checkbox" name="video[]" value="<?php echo $video->getVideoId(); ?>" />
									</td>
									<td><img src="<?php echo $thumbs[0]['url']; ?>" width="150px" /></td>
									<td><a href="<?php echo $video->getVideoWatchPageUrl(); ?>" title="title"><?php echo $video->getVideoTitle(); ?></a></td>
									<!-- <td><?php echo (count($video->getVideoTags()) > 0) ? implode(', ', $video->getVideoTags()) : 'None'; ?></td> -->
									<td><?php echo $video->getVideoDescription(); ?></td>
								</tr>
								<?php endforeach; ?>
								
							</tbody>
							
						</table>
						
					</div> <!-- End #tab1 -->
									
			</div> <!-- End .content-box -->
		</div>
	</form>
<?php endif; ?>