			<!-- Page Head -->
			<h2>Manage Poll Options</h2>
			
			<div class="content-box"><!-- Start Content Box -->
				
				<div class="content-box-header">
					
					<h3>Options for Poll: '<?php echo $poll->question; ?>'</h3>
					
				</div> <!-- End .content-box-header -->
				
				<div class="content-box-content">
						<table>
							
							<thead>
								<tr>
								   <th>Title</th>
								   <th>Votes</th>
								   <th>Actions</th>
								</tr>
								
							</thead>
							<tbody>
								<?php foreach ($options as $option): ?>
								<tr>
									<td><?php echo $option->title; ?></td>
									<td><?php echo $option->votes; ?></td>
									<td>
										<!-- Icons -->
										 <a href="<?php echo $this->url('admin', array('action' => 'managepolloption', 'id' => $option->answerid)); ?>" title="Edit"><img src="<?php echo $this->basePath(); ?>/resources/images/icons/pencil.png" alt="Edit" /></a>
										 <a href="<?php echo $this->url('admin', array('action' => 'deletepolloption', 'id' => $option->answerid)); ?>" title="Delete"><img src="<?php echo $this->basePath(); ?>/resources/images/icons/cross.png" alt="Delete" /></a>
									</td>
								</tr>
								<?php endforeach; ?>
							</tbody>
						</table>
					
				</div> <!-- End .content-box-content -->
				
			</div> <!-- End .content-box -->
			<div class="content-box"><!-- Start Content Box -->
				
				<div class="content-box-header">
					
					<h3>Add Option</h3>
					
				</div> <!-- End .content-box-header -->
				
				<div class="content-box-content">
<?php
$form = $this->form;
$form->setAttribute('action', $this->url('admin', array('action' => 'managepolloption')));
$form->prepare();

echo $this->form()->openTag($form);
echo $this->formCollection($form);
echo $this->form()->closeTag();

?>						
					
				</div> <!-- End .content-box-content -->
				
			</div> <!-- End .content-box -->
