			<!-- Page Head -->
			<h2>Events</h2>
			
			<div class="content-box"><!-- Start Content Box -->
				
				<div class="content-box-header">
					
					<h3>Manage</h3>
					
				</div> <!-- End .content-box-header -->
				
				<div class="content-box-content">
						<table>
							
							<thead>
								<tr>
								   <th>Title</th>
								   <th>Date</th>
								   <th>Description</th>
								   <th>Actions</th>
								</tr>
								
							</thead>
							<tbody>
								<?php foreach ($events as $event): ?>
								<tr>
									<td><?php echo $event->title; ?></td>
									<td><?php echo $event->dateline; ?></td>
									<td><?php echo $event->description; ?></td>
									<td>
										<!-- Icons -->
										 <a href="<?php echo $this->url('admin', array('action' => 'manageevent', 'id' => $event->eventid)); ?>" title="Edit"><img src="<?php echo $this->basePath(); ?>/resources/images/icons/pencil.png" alt="Edit" /></a>
										 <a href="<?php echo $this->url('admin', array('action' => 'deleteevent', 'id' => $event->eventid)); ?>" title="Delete"><img src="<?php echo $this->basePath(); ?>/resources/images/icons/cross.png" alt="Delete" /></a> 
									</td>
								</tr>
								<?php endforeach; ?>
							</tbody>
						</table>
					
				</div> <!-- End .content-box-content -->
				
			</div> <!-- End .content-box -->
			