			<!-- Page Head -->
			<h2>Collections</h2>
			
			<div class="content-box"><!-- Start Content Box -->
				
				<div class="content-box-header">
					
					<h3>Manage</h3>
					
				</div> <!-- End .content-box-header -->
				
				<div class="content-box-content">
						<table>
							
							<thead>
								<tr>
								   <th><input class="check-all" type="checkbox" /></th>
								   <th>Name</th>
								   <th>Videos</th>
								   <th>Actions</th>
								</tr>
								
							</thead>
							<tfoot>
								<tr>
									<td colspan="4">
										<a class="button" href="<?php echo $this->url('admin', array('action' => 'managecollection')); ?>">Add New</a>
									</td>
								</tr>
							</tfoot>					 
							<tbody>
								<?php foreach ($collections as $collection): ?>
								<tr>
									<td><input type="checkbox" /></td>
									<td><?php echo str_repeat(' -- ', $collection->depth) . $collection->title; ?></td>
									<td><a href="" title="Manage Videos"><?php echo $collection->count; ?></a></td>
									<td>
										<?php if (!$collection->special): ?>
										<!-- Icons -->
										 <a href="<?php echo $this->url('admin', array('action' => 'managecollection', 'id' => $collection->collectionid)); ?>" title="Edit"><img src="<?php echo $this->basePath(); ?>/resources/images/icons/pencil.png" alt="Edit" /></a>
										 <a href="<?php echo $this->url('admin', array('action' => 'deletecollection', 'id' => $collection->collectionid)); ?>" title="Delete"><img src="<?php echo $this->basePath(); ?>/resources/images/icons/cross.png" alt="Delete" /></a> 
										<?php endif; ?>
									</td>
								</tr>
								<?php endforeach; ?>
							</tbody>
						</table>
					
				</div> <!-- End .content-box-content -->
				
			</div> <!-- End .content-box -->
			