			<!-- Page Head -->
			<h2>Polls</h2>
			
			<div class="content-box"><!-- Start Content Box -->
				
				<div class="content-box-header">
					
					<h3>Manage</h3>
					
				</div> <!-- End .content-box-header -->
				
				<div class="content-box-content">
						<table>
							
							<thead>
								<tr>
								   <th>Question</th>
								   <th>Current Poll?</th>
								   <th>Actions</th>
								</tr>
								
							</thead>
							<tbody>
								<?php foreach ($polls as $poll): ?>
								<tr>
									<td><?php echo $poll->question; ?></td>
									<td><?php echo ($poll->active) ? 'Yes' : 'No'; ?></td>
									<td>
										<!-- Icons -->
										 <a href="<?php echo $this->url('admin', array('action' => 'managepoll', 'id' => $poll->pollid)); ?>" title="Edit"><img src="<?php echo $this->basePath(); ?>/resources/images/icons/pencil.png" alt="Edit" /></a>
										 <a href="<?php echo $this->url('admin', array('action' => 'deletepoll', 'id' => $poll->pollid)); ?>" title="Delete"><img src="<?php echo $this->basePath(); ?>/resources/images/icons/cross.png" alt="Delete" /></a>
										 <a href="<?php echo $this->url('admin', array('action' => 'listpolloptions', 'id' => $poll->pollid)); ?>" title="Delete">[Manage Options]</a>
									</td>
								</tr>
								<?php endforeach; ?>
							</tbody>
						</table>
					
				</div> <!-- End .content-box-content -->
				
			</div> <!-- End .content-box -->
			