			<!-- Page Head -->
			<h2><?php if ($new) { ?>Add <?php } else { ?> Edit<?php } ?> Event</h2>
			<div class="content-box"><!-- Start Content Box -->
				
				<div class="content-box-header">
					
					<h3><?php if ($new) { ?>Add <?php } else { ?> Edit<?php } ?> Event</h3>
					
				</div> <!-- End .content-box-header -->
				
				<div class="content-box-content">
<?php
$form = $this->form;
$form->setAttribute('action', $this->url('admin', array('action' => 'manageevent')));
$form->prepare();

echo $this->form()->openTag($form);
echo $this->formCollection($form);
echo $this->form()->closeTag();

?>						
					
				</div> <!-- End .content-box-content -->
				
			</div> <!-- End .content-box -->
