			<!-- Page Head -->
			<h2>Edit Option</h2>
			<div class="content-box"><!-- Start Content Box -->
				
				<div class="content-box-header">
					
					<h3>Edit Option</h3>
					
				</div> <!-- End .content-box-header -->
				
				<div class="content-box-content">
<?php
$form = $this->form;
$form->setAttribute('action', $this->url('admin', array('action' => 'managepolloption')));
$form->prepare();

echo $this->form()->openTag($form);
echo $this->formCollection($form);
echo $this->form()->closeTag();

?>						
					
				</div> <!-- End .content-box-content -->
				
			</div> <!-- End .content-box -->
