			<!-- Page Head -->
			<h2>Collections</h2>
			<div class="content-box"><!-- Start Content Box -->
				
				<div class="content-box-header">
					
					<h3>Collection</h3>
										
				</div> <!-- End .content-box-header -->
				<div class="content-box-content">
						<form action="" method="get">
							
							<fieldset> <!-- Set class to "column-left" or "column-right" on fieldsets to divide the form into columns -->
								<p>
									<label>Chose a Collection to Manage its Videos</label>
									<select class="small-input" name="id">
										<option value=""> </option>
										<?php foreach ($collections as $row): ?>
											<option value="<?php echo $row->collectionid; ?>" <?php if ($row->collectionid == $collectionid): ?>selected="selected"<?php endif; ?>><?php echo str_repeat(' -- ', $row->depth) . $row->title; ?></option>
										<?php endforeach; ?>
									</select>
								</p>
								<p>
									<input class="button" type="submit" value="Go" />
								</p>
							</fieldset>
						</form>
				</div>
			</div>
			<?php if ($videos): ?>
			<div class="content-box"><!-- Start Content Box -->
				
				<div class="content-box-header">
					<h3>Videos</h3>
				</div> <!-- End .content-box-header -->
				
				<div class="content-box-content">
					<form action="<?php echo $this->url('admin', array('action' => 'massupdate')); ?>" method="post">
						<input type="hidden" name="collectionid" value="<?php echo $collectionid; ?>" />
						<fieldset> <!-- Set class to "column-left" or "column-right" on fieldsets to divide the form into columns -->
						<table>
							
							<thead>
								<tr>
								   <th><input class="check-all" type="checkbox" /></th>
								   <th>Display Order</th>
								   <th>Preview</th>
								   <th>Title</th>
								   <th>Actions</th>
								</tr>
								
							</thead>
							<tfoot>
								<tr>
									<td colspan="6">
										<div class="bulk-actions align-left">
											<select name="action">
												<option value="option1">Choose an action...</option>
												<optgroup label="Move to a Different Collection">
													<?php foreach ($collections as $row): ?>
														<option value="<?php echo $row->collectionid; ?>"><?php echo str_repeat(' -- ', $row->depth) . $row->title; ?></option>
													<?php endforeach; ?>
												</optgroup>
												<option value="order">Save Order</option>
												<option value="delete">Delete</option>
											</select>
											<input type="submit" value="Save" class="button" />
										</div>
									</td>
								</tr>
							</tfoot>				 
							<tbody>
								<?php foreach ($videos as $video): ?>
								<tr>
									<td><input type="checkbox" name="selected[]" value="<?php echo $video->videoid; ?>" /></td>
									<td><input size="2" class="text-input" type="input" name="order[<?php echo $video->videoid; ?>]" value="<?php echo ($collection->special) ? $video->specialorder : $video->order; ?>" /></td>
									<td><img width="100px" src="<?php echo $video->preview; ?>" /></td>
									<td><?php echo $video->title; ?></td>
									<td>
										<!-- Icons -->
										 <a href="<?php echo $this->url('admin', array('action' => 'managevideo', 'id' => $video->videoid)); ?>" title="Edit"><img src="<?php echo $this->basePath(); ?>/resources/images/icons/pencil.png" alt="Edit" /></a>
										 <a href="<?php echo $this->url('admin', array('action' => 'deletevideo', 'id' => $video->videoid)); ?>" title="Delete"><img src="<?php echo $this->basePath(); ?>/resources/images/icons/cross.png" alt="Delete" /></a> 
									</td>
								</tr>
								<?php endforeach; ?>
							</tbody>
						</table>
						</fieldset>
					</form>
				</div> <!-- End .content-box-content -->
				
			</div> <!-- End .content-box -->
			<?php endif; ?>
			