<?php echo $this->doctype(); ?>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<?php echo $this->headTitle('Combat Hub')->setSeparator(' - ')->setAutoEscape(false) ?>

		<?php echo $this->headMeta()
		->appendName('viewport', 'width=device-width, initial-scale=1.0')
		->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
		?>

		<!-- Le styles -->
		<?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
                        ->prependStylesheet($this->basePath() . '/css/main.css'); ?>

		<!-- Scripts -->
		<?php /* echo $this->headScript()
		->prependFile($this->basePath() . '/js/bootstrap.min.js')
		->prependFile($this->basePath() . '/js/jquery.min.js')
		->prependFile($this->basePath() . '/js/respond.min.js', 'text/javascript', array('conditional' => 'lt IE 9',))
		->prependFile($this->basePath() . '/js/html5shiv.js',   'text/javascript', array('conditional' => 'lt IE 9',))
		; */ 
		?>
		<script src="http://yui.yahooapis.com/3.13.0/build/yui/yui-min.js"></script>
		<script type="text/javascript">
		function gaPrintPage(node)
		{
		    my_window = window.open("", "mywindow1", "status=1,width=350,height=150");
		    my_window.document.write(node.innerHTML);
		}
		</script>
		<?php echo (isset($headCode)) ? $headCode : ''; ?>
	</head>
	<body class="yui3-skin-sam">
		<header class="logo">
			<a href="<?php echo $this->url('home'); ?>"><img src="<?php echo $this->basePath(); ?>/img/logo.jpg" /></a>
		</header>
		<section class="main-wrapper">
			<nav class="event-bar">
				<div class="social-networks">
					<img height="16px" src="<?php echo $this->basePath(); ?>/img/fb.png" />
				</div>
				Upcoming Events:
				<?php $size= count($this->getEvents(5)); $i = 0; foreach ($this->getEvents(5) as $event): $i++; ?>
					<a href="<?php echo $this->url('event', array('id' => $event['eventid'], 'url' => $event['url'])); ?>"><?php echo $event['title']; ?></a> <?php if ($i < $size): ?>&#8226;<?php endif; ?>
				<?php endforeach; ?>
			</nav>
			<nav class="breadcrumbs">
				<form method="get" action="<?php echo $this->url('search'); ?>" class="search-form">
				<input type="input" name="search" placeholder="Search" class="search" />
				</form>
				<a href="<?php echo $this->url('home'); ?>">Home</a>
				<?php foreach ($breadcrumbs as $title => $url): ?>
					<img src="<?php echo $this->basePath(); ?>/img/breadcrumb.gif" width="10px" />
					<a href="<?php echo $this->url($url['routename'], $url['options']); ?>"><?php echo $title; ?></a> 
				<?php endforeach; ?>
			</nav>
		</section>
		<section class="main-wrapper three-cols">
			<aside class="right-col columns">
				<h3>Poll</h3>
				<div id="poll" class="poll">
					<?php echo $this->getPoll(); ?>
				</div>
				<h3>Event Calendar</h3>
				<div id="events-calendar">
					<?php echo $this->drawCalendar().  $this->drawCalendar(1) . $this->drawCalendar(2); ?>
				</div>
			</aside>
			<aside class="left-col columns">
				<h3>Categories</h3>
				<?php echo $this->getCollections(); ?>
			</aside>
			<section class="main-content">
				<?php echo $this->content; ?>
			</section>
			<br class="clear" />
		</section>
		<footer class="footer">
			&copy; 2014
		</footer>
		<?php echo $this->inlineScript() ?>
<script>
YUI().use('node', 'paginator',  'event-hover', 'gallery-timer', function (Y) {
    var spiffy = Y.one('.slider'),
        slides = spiffy.all('.featured'),
        controls = Y.all('.controls li'),
        selectedClass = 'active',
        pg = new Y.Paginator({
            itemsPerPage: 1,
            totalItems: slides.size()
        });

    pg.after('pageChange', function (e) {
        var page = e.newVal;

        // decrement page since nodeLists are 0 based and
        // paginator is 1 based
        page--;

        // clear anything active
        slides.removeClass(selectedClass);
        controls.removeClass(selectedClass);

        // make the new item active
        slides.item(page).addClass(selectedClass);
        controls.item(page).addClass(selectedClass);
    });


    // when we click the control links we want to go to that slide
    spiffy.delegate('click', function (e) {
        e.preventDefault();
        var control = e.currentTarget;

        // if it's already active, do nothing
        if (control.ancestor('li').hasClass(selectedClass)) {
            return;
        }

        pg.set('page', parseInt(control.getHTML(), 10));
    }, '.controls a');



    // create a timer to go to the next slide automatically
    // we use timer to obtain a pause/resume relationship
    autoPlay = new Y.Timer({
        length: 1000,
        repeatCount: 0});

    autoPlay.after('timer', function (e) {
        if (pg.hasNextPage()) {
            pg.nextPage();
        } else {
            pg.set('page', 1);
        }
    });

    // start the autoPlay timer
    autoPlay.start();


    // we want to pause when we mouse over the slide show
    // and resume when we mouse out
    spiffy.on('hover', function (e) {
        autoPlay.pause()
    }, function (e) {
        autoPlay.resume()
    });

});
</script>
	</body>
</html>
