<h1><?php echo $title; ?></h1>
<?php if (sizeof($videos) > 0): ?>
<?php foreach ($videos as $video): ?>	
<div class="video" id="video-<?php echo $video->videoid; ?>">
	<h2><a href="<?php echo $this->url('video', array('id' => $video->videoid, 'url' => $video->url)); ?>"><?php echo $video->title; ?></a></h2>
	<a href="<?php echo $this->url('video', array('id' => $video->videoid, 'url' => $video->url)); ?>"><img src="<?php echo $video->preview; ?>" /></a>
	<p>
		<?php echo $video->description; ?>
	</p>
	<div class="social-media">
 		<a onclick="window.open('http://www.facebook.com/sharer.php?u=<?php echo $this->url('video', array('id' => $video->videoid, 'url' => $video->url)); ?>','_blank','width=500,height=300');"><img style="border:0;" height="20px" src="http://www.combathub.com/img/social/facebook.png"></a> 
		<a onclick="window.open('http://twitter.com/share?text=<?php echo $video->title; ?>&amp;url=<?php echo $this->url('video', array('id' => $video->videoid, 'url' => $video->url)); ?>&amp;count=horizontal&amp;counturl=<?php echo $this->url('video', array('id' => $video->videoid, 'url' => $video->url)); ?>','_blank','width=500,height=250');"><img height="20px" style="border:0;" src="http://www.combathub.com/img/social/twitter.png"></a>
		<a href="https://plus.google.com/share?url=<?php echo $this->url('video', array('id' => $video->videoid, 'url' => $video->url)); ?>" onclick="javascript:window.open(this.href,
  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><img height="20px"
  src="https://www.gstatic.com/images/icons/gplus-64.png" alt="Share on Google+"/></a>
		<a href="http://pinterest.com/pin/create/button/?url=<?php echo $this->url('video', array('id' => $video->videoid, 'url' => $video->url)); ?>&media=" class="pin-it-button" count-layout="none"><img border="0" height="20px" src="http://www.combathub.com/img/social/pin.png" title="Pin It" /></a>
 		<a href=""><img height="20px" style="border:0;" src="http://www.combathub.com/img/social/email.png"></a>
 		<a onclick="gaPrintPage(document.getElementById('video-<?php echo $video->videoid; ?>'))"><img height="20px" style="border:0;" src="http://www.combathub.com/img/social/print.png"></a>
	</div>
</div>
<?php endforeach; ?>
<?php else: ?>
No Videos Found
<?php endif; ?>