<div class="featured-videos">
	<div id="slider" class="slider">
	<?php $c = 0; foreach ($featured as $video): $c++; ?>
		<div class="featured">
			<a href="<?php echo $this->url('video', array('id' => $video->videoid, 'url' => $video->url)); ?>"><img src="<?php echo $video->preview; ?>" /></a>
			<h4 class="featured-title"><a href="<?php echo $this->url('video', array('id' => $video->videoid, 'url' => $video->url)); ?>"><?php echo $video->title; ?></a></h4>
		</div>
	<?php endforeach; ?>
	</div>
	<div class="featured-caption">
		<ul class="controls">
			<?php for ($i = 0; $i < $c; $i++): ?>
				<li<?php echo (($i == 0) ? ' class="active"' : ''); ?>>&nbsp;</li>
			<?php endfor; ?>
		</ul>
		Featured Videos
	</div>
</div>
<section class="homepage-videos">
	<h2>Latest Videos</h2>
	<ul class="video-grid">
		<?php foreach ($latest as $video): $c++; ?>
			
		<li>
			<div class="grid">
				<a href="<?php echo $this->url('video', array('id' => $video->videoid, 'url' => $video->url)); ?>"><img src="<?php echo $video->preview; ?>" /></a>
				<a href="<?php echo $this->url('video', array('id' => $video->videoid, 'url' => $video->url)); ?>"><?php echo $video->title; ?></a>
			</div>
		</li>		
		<?php endforeach; ?>
	</ul>
	<br class="clear" />
	<h2>Most Popular</h2>
	<ul class="video-grid">
		<?php foreach ($mostpopular as $video): $c++; ?>
		<li>
			<div class="grid">
				<a href="<?php echo $this->url('video', array('id' => $video->videoid, 'url' => $video->url)); ?>"><img src="<?php echo $video->preview; ?>" /></a>
				<a href="<?php echo $this->url('video', array('id' => $video->videoid, 'url' => $video->url)); ?>"><?php echo $video->title; ?></a>
			</div>
		</li>		
		<?php endforeach; ?>
	</ul>
	<br class="clear" />

</section>